body{
    background-color: aqua;
    color: white;
}

.container{
    width: 100px;
    height: 100px;
    background-color: khaki;
    margin: 100px 
}

.App{
    display: flex;
    flex-direction: row;
    
}
